<div *ngIf="isLoading" class="loading-container">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!isLoading" class="container">
  <h1 class="section-title">Gestionar mis Servicios</h1>

  <section class="section">
    <h3>Añadir Nuevo Servicio</h3>
    <form (ngSubmit)="addOrUpdateService()" class="form-publication">
      <img *ngIf="previewUrl" [src]="previewUrl" class="preview-img" alt="Vista previa de la imagen del servicio" />

      <div class="form-fields">
        <mat-form-field appearance="fill">
          <mat-label>Nombre del Servicio</mat-label>
          <input matInput [(ngModel)]="newService.serviceName" name="serviceName" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Descripción</mat-label>
          <textarea matInput [(ngModel)]="newService.description" name="description" required></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Precio (S/)</mat-label>
          <input matInput type="number" [(ngModel)]="newService.price" name="price" required>
        </mat-form-field>

        <div class="button-group">
          <button type="button" mat-stroked-button (click)="fileInput.click()">
            <mat-icon>upload</mat-icon>
            Subir Imagen
          </button>
          <input type="file" (change)="onImageSelected($event)" #fileInput hidden />

          <button mat-raised-button color="primary" type="submit">
            <mat-icon>send</mat-icon>
            Publicar Servicio
          </button>
        </div>
      </div>
    </form>
  </section>

  <h3 class="section-title">Mis Servicios Publicados</h3>
  <div class="card-container" *ngIf="services.length > 0; else noServicesPublished">
    <mat-card *ngFor="let service of services" class="service-card">
      <img mat-card-image [src]="service.imageUrl" *ngIf="service.imageUrl" [alt]="service.serviceName">
      <mat-card-content>
        <h4>{{ service.serviceName }}</h4>
        <p>{{ service.description }}</p>
        <p class="price">S/ {{ service.price }}</p>
        <button mat-stroked-button color="warn" (click)="deleteService(service)">
          <mat-icon>delete</mat-icon>
          Eliminar
        </button>
      </mat-card-content>
    </mat-card>
  </div>
  <ng-template #noServicesPublished>
    <p>Aún no has publicado ningún servicio.</p>
  </ng-template>
</div>
