.tool-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 5px 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.top-row{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #333333;
}
.categories-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  padding-top: 5px;
}
.notifications-button {
  margin-left: 10px;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-actions .mat-icon-button .mat-icon {
  color: #5f6368;
  font-size: 24px;
}


