<mat-card class="worker-card" appearance="outlined">
    <img mat-card-image [src]="worker.user.profilePicture" [alt]="`Foto de ${worker.user.firstName}`">
    <div class="worker-info">
      <div class="worker-header">
        <span class="worker-name">{{ worker.user.firstName }} {{ worker.user.lastName }}</span>
        <div class="worker-rating">
          <mat-icon>star</mat-icon>
          <span>{{ worker.rating }}</span>
        </div>
      </div>
      <p class="category-name">{{ worker.category.name }}</p>
      <p class="worker-description">{{ worker.experienceDescription }}</p>
      <div class="card-actions">
        <a mat-button color="primary" class="view-profile" [routerLink]="['/customer/worker-profile', worker.id]">Ver perfil</a>
        <span class="worker-time">20-25 min</span>
      </div>
    </div>
</mat-card>
