<div class="auth-form-card">
  <div class="form-card-logo">FIX IT</div>
  <nav class="auth-tabs">
    <a routerLink="/register/customer" routerLinkActive="active-tab">{{ 'authForm.registerTab' | translate }}</a>
    <a routerLink="/login/customer" routerLinkActive="active-tab">{{ 'authForm.loginTab' | translate }}</a>
  </nav>

  <form (ngSubmit)="onRegister()" class="auth-inner-form">
    <!-- Campo de Correo -->
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>{{ 'authForm.emailLabel' | translate }}</mat-label>
      <input matInput type="email" name="email" required [(ngModel)]="email" [placeholder]="'authForm.emailPlaceholder' | translate">
    </mat-form-field>

    <!-- Campo de Contraseña -->
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>{{ 'authForm.passwordLabel' | translate }}</mat-label>
      <input matInput type="password" name="password" required [(ngModel)]="password" [placeholder]="'authForm.createPasswordPlaceholder' | translate">
    </mat-form-field>

    <!-- Mensaje de error -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <button mat-flat-button type="submit" class="submit-button form-submit-button">
      {{ 'authForm.submitButtonRegister' | translate }}
    </button>
  </form>
</div>
