<div class="auth-form-card">
  <div class="form-card-logo">FIX IT</div>
  <nav class="auth-tabs">
    <!-- Claves específicas para el trabajador -->
    <a routerLink="/register/worker" routerLinkActive="active-tab">{{ 'authForm.worker.registerTab' | translate }}</a>
    <a routerLink="/login/worker" routerLinkActive="active-tab">{{ 'authForm.worker.loginTab' | translate }}</a>
  </nav>

  <form (ngSubmit)="onLogin()" class="auth-inner-form">
    <!-- Reutilización de claves genéricas -->
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>{{ 'authForm.emailLabel' | translate }}</mat-label>
      <input matInput type="email" name="email"
             required
             [(ngModel)]="email"
             [placeholder]="'authForm.emailPlaceholder' | translate">
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>{{ 'authForm.passwordLabel' | translate }}</mat-label>
      <input matInput type="password"
             name="password"
             required
             [(ngModel)]="password"
             [placeholder]="'authForm.passwordPlaceholder' | translate">
    </mat-form-field>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <div class="forgot-password-link">
      <a routerLink="#">{{ 'authForm.forgotPasswordLink' | translate }}</a>
    </div>

    <button mat-flat-button type="submit" class="submit-button form-submit-button">
      {{ 'authForm.submitButton' | translate }}
    </button>

    <div class="social-login-divider">
      <span>{{ 'authForm.socialDivider' | translate }}</span>
    </div>

    <div class="social-buttons">
      <button mat-stroked-button type="button" class="social-button">Facebook</button>
      <button mat-stroked-button type="button" class="social-button">Google</button>
      <button mat-stroked-button type="button" class="social-button">Apple</button>
    </div>
  </form>
</div>
