<div class="complete-profile-container">
  <mat-card class="profile-card">
    <mat-card-title>Casi listo, completa tu perfil</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onSubmitProfile()" class="profile-form">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Nombre</mat-label>
          <input matInput name="firstName" [(ngModel)]="firstName" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Apellido</mat-label>
          <input matInput name="lastName" [(ngModel)]="lastName" required>
        </mat-form-field>
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
        <button mat-raised-button color="primary" type="submit" class="submit-button">Guardar y Continuar</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
