<h2>ELIGE TU TIPO DE USUARIO</h2>
<section>
    <div class="type-section-container">
        <div class="type-button-container">
            <a mat-fab extended routerLink="./customer" class="type-button">
              Deseo contratar un servicio tecnico
            </a>
        </div>
        <div class="type-button-container">
            <a mat-fab extended routerLink="./worker" class="type-button">
              Deseo brindar mis servicios
            </a>
        </div>
    </div>
</section>