.tool-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 5px 10px;
  padding-top: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.top-row{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 6px;
  padding-bottom: 10px;
  border-bottom: 1px solid #333333;
}
.categories-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}
.notifications-button {
  margin-left: 10px; 
}



