<div class="category-page">
  <h1 class="category-title"><strong>{{category.name}}</strong> | Profesionales disponibles</h1>

  <div class="category-container">
    @defer{
        <app-worker-list [workers]="workers"></app-worker-list>

    } @loading (minimum 1s){
        <!--<img src="https://media.tenor.com/-j3XsotC_BcAAAAj/dinosaur-dancing-with-sunglass.gif" alt="loading">-->
        <mat-spinner style="margin: 0 auto;"></mat-spinner>
    }
  </div>

  <div class="pago-icons">
    <img src="https://lh7-rt.googleusercontent.com/docsz/AD_4nXc_lU0xQzu_eloNh4SEcfxf3qBr0ZjOoccfv5z7YT91s78svAnrmMZflM5Qx7KcBrXVf8ZgpQOgZtl4pXBXPTKpfO1Yw62OHUmQU8GuAgHiRmvPPP7qEySPsPD5gb1RlKTfzIuckQ?key=r2Z2D-f9M00zMKAFa5GPYQ" alt="Visa">
    <img src="https://lh7-rt.googleusercontent.com/docsz/AD_4nXfc9zZUU2ncsx-OsYJdERbXp_HeMTOG2dZc5IpIiT6OkiU9z0quWvWk-9uVVaXUbOYQDDVe0FHz7-pGgEzuhBP8ld_E5VT8imwnYquGDXNy4Fembi5pI6uQXD4shh-jxnfPBn140Q?key=r2Z2D-f9M00zMKAFa5GPYQ" alt="Yape">
    <img src="https://lh7-rt.googleusercontent.com/docsz/AD_4nXfrHjlqPfu1Q38tSUf4usklB5TP0K0uPb7ReyFirUYUaHJ7xQd9szdN9zVALsvaViUP943cZUx85avwzjh6QbOkuYdRhJuAd8fYmOH-_yVy53w-g3m0ZFifzKfmkmala5PXtvdGZw?key=r2Z2D-f9M00zMKAFa5GPYQ" alt="Mastercard">
    <img src="https://lh7-rt.googleusercontent.com/docsz/AD_4nXcgjQuFynD9MZGVynEZvqUOC5Txg5n8wiEtK7hzwHAaa_8-RtbV-Rr8sAKZMv8UMfFm_H08nFtWsL3SwOPo50SXw3yzTMm4Oade0xyex2oRCQo0V_l2kQ3U3wnzIzJefT770DgFkg?key=r2Z2D-f9M00zMKAFa5GPYQ" alt="Plin">
    <img src="https://lh7-rt.googleusercontent.com/docsz/AD_4nXcriopYfLxJtNCYTsXZ8Mfj2VTO1ApOQe86OiMz5ajosQBqlTtjcUNr-wzjiWsFW7CFpw_hGDP4lOH02HUgRCQ9SAAD7oVDjUa8h5DZMARPtWSsz5IX1_EHP32mXipkoCejJlO3Nw?key=r2Z2D-f9M00zMKAFa5GPYQ" alt="Efectivo">
  </div>
</div>
