<div class="alerts-container">
  <h2>Mis Notificaciones</h2>
  @if (alerts.length === 0) {
    <div class="empty-alerts">
      <p>No tienes notificaciones en este momento.</p>
    </div>
  }
  @for (alert of alerts; track alert) {
    <a [routerLink]="alert.link" class="alert-link">
      <mat-card class="alert-card" [class.user-alert]="alert.type === 'user'" [class.system-alert]="alert.type === 'system'">
        <div class="alert-header" *ngIf="alert.type === 'user'">
          <div class="avatar-container">
            <img [src]="alert.sender?.profilePicture" [alt]="'Avatar de ' + alert.sender?.firstName">
          </div>
          <div class="user-info">
            <span class="username">{{ alert.sender?.firstName }} {{ alert.sender?.lastName }}</span>
          </div>
        </div>
        <div class="alert-header" *ngIf="alert.type === 'system'">
          <div class="avatar-container" *ngIf="alert.systemName === 'Worker Catalog' && alert.sender?.profilePicture">
            <img [src]="alert.sender?.profilePicture" [alt]="'Avatar de ' + (alert.sender?.firstName || alert.message.split(': ')[1])">
          </div>
          <div class="avatar-container" *ngIf="alert.systemName === 'Fix It' && alert.logoUrl">
            <img [src]="alert.logoUrl" [alt]="'Logo de ' + alert.systemName">
          </div>
          <div class="system-info" *ngIf="alert.systemName !== 'Worker Catalog'">
            <span class="system-name">{{ alert.systemName }}</span>
          </div>
          <div class="worker-info" *ngIf="alert.systemName === 'Worker Catalog'">
            <span class="worker-name">{{ alert.sender?.firstName || alert.message.split(': ')[1] }}</span>
          </div>
        </div>
        <mat-card-content class="alert-content">
          <p>{{ alert.message }}</p>
          <p class="date" *ngIf="alert.date">{{ formatDate(alert.date) }}</p>
        </mat-card-content>
        <mat-card-footer class="alert-footer" *ngIf="alert.timestamp">
          <span class="timestamp">{{ formatTimestamp(alert.timestamp) }}</span>
        </mat-card-footer>
      </mat-card>
    </a>
  }
</div>
