.confirm-dialog-box {
  background-color: #6c757d;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.confirm-dialog-box p {
  font-size: 1.05em;
  line-height: 1.5;
  margin-bottom: 25px;
}

.mat-dialog-actions button {
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 6px;
  min-width: 100px;
  margin: 0 8px;
}

.yellow-button {
  background-color: #ffc107 !important;
  color: #212529 !important;
}


:host ::ng-deep .mat-dialog-container {
  background-color: transparent !important;
  padding: 0 !important;
  box-shadow: none !important;
}
