<div class="login-customer">
    <h2>Iniciar Sesión como cliente</h2>
    <form class="login-form" action="/customer">
      <mat-form-field appearance="outline" class="form-field">
          <mat-label>Correo Electrónico</mat-label>
          <input matInput type="email" placeholder="Ingresa tu correo">
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" placeholder="Ingresa tu contraseña">
      </mat-form-field>
      <button mat-flat-button type="submit">Inicar Sesión</button>
    </form>
  </div>